[2020-08-19 16:54] merlintang opened #3 "Set up CI/CD"

[2020-08-19 19:34] terrytangyuan commented on #3
Yes, we can set up CI/CD using GitHub Actions which is a better option for projects on GitHub now: https://github.com/features/actions

[2020-08-20 06:45] xinbinhuang opened #5 "Interested in the project"
Hi @terrytangyuan @merlintang,

I have been evaluating different workflow systems (e.g. Airflow, Argo, Kubeflow, Dagster) recently but haven't seen to find anything really appealing to me - I was thinking to use Argo, but really likely that I need to build some layer on top of it.

As I came across this project, the description `Unified Interface for Constructing and Managing Workflows` really cat

[2020-08-20 12:55] terrytangyuan commented on #5
@xinbinhuang Thanks for your interest! We actually just open sourced this project yesterday. We are still migrating and cleaning up the codebase and putting together the initial working version that will work with Argo Workflows. One of the goals is indeed to provide a unified interface for multiple workflow engines. Please stay tuned once we have a clearly defined API and then community members a

[2020-08-24 18:17] #3 closed

[2020-08-27 15:59] xinbinhuang commented on #5
Hi @terrytangyuan, I am closing this issue now as we have some discussion offline.

[2020-08-27 15:59] #5 closed

[2020-09-02 12:52] terrytangyuan opened #29 "Add utility method to convert boolean to to "true"/"false""
There are cases where we need to convert boolean to strings "true"/"false" that can be used in YAML configuration. We can create a utility method for this. An example here: https://github.com/couler-proj/couler/blob/9e177e97b5338f034f8b99e90e65a511af37a721/couler/core/templates/job.py#L40

[2020-09-02 13:01] terrytangyuan opened #30 "Move all import statements to top of the files"
Per PEP8

There are currently cases where import statements are inside the functions, e.g. https://github.com/couler-proj/couler/blob/9e177e97b5338f034f8b99e90e65a511af37a721/couler/core/templates/output.py#L51-L58

[2020-09-02 13:08] terrytangyuan opened #31 "Remove duplicated minimal Argo installation YAML"
Currently [our Argo installation YAML file](https://github.com/couler-proj/couler/blob/9e177e97b5338f034f8b99e90e65a511af37a721/manifests/quick-start-minimal-argo-v2.10.0.yaml) is modified from [ argo/manifests/quick-start-minimal.yaml](https://github.com/argoproj/argo/blob/master/manifests/quick-start-minimal.yaml). The changes were necessary to make the integration work on Minikube + GitHub Acti

[2020-09-02 13:56] terrytangyuan opened #32 "Support multiple function arguments in `couler.map()`"
We currently only support one argument in `couler.map()`, which is a list of values that can be called by the specified function.

https://github.com/couler-proj/couler/blob/fedbcc42383eb3335d3fadddf818defcf74d70a4/couler/core/syntax/loop.py#L23-L32

[2020-09-02 14:11] terrytangyuan opened #33 "Support different types of artifacts"
Currently the argument `type` in `Artifact` is not used. We should support different types of artifacts with various [artifact repository](https://argoproj.github.io/argo/configure-artifact-repository/#configuring-minio) (e.g. AWS and GCS).

https://github.com/couler-proj/couler/blob/fedbcc42383eb3335d3fadddf818defcf74d70a4/couler/core/templates/artifact.py#L19-L29

[2020-09-03 01:09] binarycrayon opened #34 "Long term plan and documentations"
this is exciting and would love to build on top of it.

I'm wondering what's the long term plan for this, and what features are considered `1.0` release

[2020-09-03 01:46] merlintang commented on #34
Currently, kubeflow pipeline also use Argo as the backend.

For the other engine, we can discuss how to proceed.

On Thu, Sep 3, 2020 at 9:17 AM binarycrayon <notifications@github.com>
wrote:

[2020-09-03 01:49] terrytangyuan commented on #34
@binarycrayon Thanks for moving the discussion over here. Yes only Argo Workflow has been open sourced so far and we do plan to support other workflow engines with the help from the community.

There's discussion on the design of the core unified interface in https://github.com/couler-proj/couler/pull/24. We'd appreciate your feedback. If you are interested in helping out with anything in particul

[2020-09-03 08:16] arez3002 commented on #30
Hi @terrytangyuan
May i work on this issue ?

[2020-09-03 09:06] merlintang commented on #30
sure, thanks for your contribution.

On Thu, Sep 3, 2020 at 4:16 PM arez3002 <notifications@github.com> wrote:

[2020-09-03 09:39] arez3002 commented on #30
Thank you for letting me work on the subject.
I think I have to write a python file that first separates the imports from the rest of the code and put them to txt files, and then it would be able to add the two txt files along with a blank line between them, and then it would be better to remove the txt files at the end.

[2020-09-03 21:10] xfate123 commented on #29
/assign

[2020-09-03 21:13] xfate123 commented on #29
/assign

[2020-09-03 21:15] xfate123 commented on #29
@terrytangyuan  can I contribute something for this issue? Still need couple more days to finish reading the source code, after that I think I can contribute some to this issue

[2020-09-03 22:21] terrytangyuan commented on #29
Sure, feel free to pick up any of the existing issues to work on.

[2020-09-03 23:15] merlintang opened #36 "Set the exit handler for DAG jobs"
currently, exit-handler only supports the steps of Argo workflow rather than the DAG. But the user also wants to use the exit-handler for the DAG.

[2020-09-04 00:06] terrytangyuan commented on #36
This is actually supported. Feel free to reopen if that's not the case.

[2020-09-04 00:06] #36 closed

[2020-09-07 01:24] merlintang opened #38 "Support different jobs submission"
Couler is designed to help users to start an AI/Computation job easily, thus we hope to add some jobs submission function into Couler.

### TensorFlow Job
https://github.com/couler-proj/couler/pull/37

### PyTorch Job

#70

### MPI Job

#75

### Spark Job

You are so welcome to add other jobs support

[2020-09-09 14:18] terrytangyuan opened #42 "Support multiple versions of TFJob specs"
To support multiple versions, we can just expose the version number and hides the implementation details such as handling differences in TFJob specs. For context, see https://github.com/couler-proj/couler/pull/37#discussion_r484337953.

[2020-09-09 14:52] terrytangyuan commented on #30
@arez30002 Why would you need Python and text files? This issue is simply than what you expected: just moving all imports to the top of the files manually.

[2020-09-09 15:00] terrytangyuan opened #43 "Support Apache Airflow as a backend"
This issue is for discussing adding Apache Airflow as a backend in Couler that's consistent with the design proposed in https://github.com/couler-proj/couler/pull/24.

If you are interested in contributing, please comment and share your proposals below. Once we agree on a concrete implementation plan, we can then split this into multiple issues so more people can get involved.

[2020-09-09 15:01] terrytangyuan opened #44 "Support Tekton Pipelines as a backend"
This issue is for discussing adding Tekton Pipelines as a backend in Couler that's consistent with the design proposed in https://github.com/couler-proj/couler/pull/24.

If you are interested in contributing, please comment and share your proposals below. Once we agree on a concrete implementation plan, we can then split this into multiple issues so more people can get involved.

[2020-09-10 14:59] chinazj commented on #44
hi terrytangyuan

This are all fields of [taskRun](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md)

[code]

It will be presented like this in the couler

[code]

[2020-09-10 15:06] chinazj commented on #44
Task in tekton contains multiple steps. How does this express in couler?

This is what i think，`addConmand` represents a step in tekton's task

[code]

[2020-09-10 17:05] terrytangyuan commented on #44
@chinazj We had similar discussions in https://github.com/couler-proj/couler/pull/24#discussion_r481227856? Does that help?

Also cc @FogDong @xinbinhuang for any suggestions/feedback/proposals.

[2020-09-11 07:21] FogDong commented on #44
In the latest v0.16 version of Tekton, the `condition` field is deprecated and we use [whenExpression](https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#guard-task-execution-using-whenexpressions) instead.

It's quite different from our `when(cond, if_op, else_op)` design.

There is another question I want to talk about, the `DAG` in tekton and argo.
In tekton, we use `runAfter` i

[2020-09-11 07:52] arez30002 commented on #30
I thought you needed a program for this; it's no problem I use the same program and I make all the inputs.

[2020-09-11 08:28] chinazj commented on #44
yes.Following their ideas, I just made concrete

[2020-09-11 13:49] terrytangyuan commented on #44
@FogDong Regarding `when`, perhaps we can start with implementing `when(cond, if_op)` without the `else_op` where `cond` is essentially the conditional expression using components of `WhenExpressions`, e.g. `$(params.path) in README.md`, and `if_op` is the actual task that will be executed when the condition is met.

For DAG, yes I agree that we can start off by writing something that works well w

[2020-09-14 11:36] arez30002 commented on #30
I'm sorry I don't think I can continue the project; please ask someone else to do it.

[2020-09-14 17:35] terrytangyuan opened #49 "Re-enable workflow YAML validation"
Currently `couler.run()`'s workflow YAML validation is commented out: https://github.com/couler-proj/couler/blob/412ea049e8fb0f749cebbdc5eff45b365bd85ac9/couler/argo.py#L60-L61

We'd like to enable this back once a stable argo-client-python is released.

cc @binarycrayon

[2020-09-14 17:42] binarycrayon commented on #49
K will follow up here once we got an updated release published to pypi :-)

[2020-09-14 17:43] terrytangyuan opened #50 "Remove the customized utility function for workflow YAML validation"
Currently we have a utility function for validating the workflow YAML used for Argo backend in [workflow_validation_utils.py](https://github.com/couler-proj/couler/blob/412ea049e8fb0f749cebbdc5eff45b365bd85ac9/couler/core/workflow_validation_utils.py). This is necessary currently since the existing release of Argo Python client v3.2.0 has issues when de-serializing an `argo.workflows.client.models

[2020-09-15 14:03] terrytangyuan opened #51 "Use GitHub Actions to automatically publish releases to PyPI"
We can leverage [pypa/gh-action-pypi-publish](https://github.com/pypa/gh-action-pypi-publish) to publish releases to PyPI using GitHub Actions.

[2020-09-15 17:10] terrytangyuan opened #52 "Upgrade to use v2.10.2 Argo Workflows in the CI"
Given that Argo Workflows v2.10.2 has released, we should use that for testing instead: https://github.com/argoproj/argo/releases/tag/v2.10.2

[2020-09-15 18:21] #52 closed

[2020-09-18 17:49] #29 closed

[2020-09-20 23:19] #49 closed

[2020-09-22 15:15] terrytangyuan opened #57 "Move k8s resource string parsing to a utility method"
See below. This should be removed to a utility method that can be reused across different steps.

https://github.com/couler-proj/couler/blob/57e6c0b148599138f882610281a58aebf52b2b8d/couler/steps/tensorflow.py#L71-L91

[2020-09-22 15:19] terrytangyuan opened #58 "Add integration test for TensorFlow step"
Now that Kubeflow's TFJob has been supported in https://github.com/couler-proj/couler/pull/37. It should be added as part of our integration test using GitHub Actions. We need to install the supported version of kubeflow/tf-operator before executing the test suite.

[2020-09-24 16:27] terrytangyuan commented on #33
Support for S3 has been added in https://github.com/couler-proj/couler/pull/60 by @Seanny123.

[2020-09-24 18:00] Seanny123 opened #62 "How to create new volume to share state between container runs?"
When writing an Argo workflow using YAML, it is possible to defined an `initContainer` step. For example, initializing working directories:
[code]

By using `mirrorVolumeMounts: true` we can share state between the containers using local storage. For example, the next step could be running a command:

[code]

Although it is possible to mount a volume with Couler:
[code]

How does one create a new

[2020-09-24 19:49] terrytangyuan commented on #62
Great question! Creating new volume is not part of Couler's API yet as we haven't come across such a use case. In our use cases, system or DevOp engineers are usually responsible to create new volumes in advance and then analysts/data scientists can use the already created volumes.

Alternatively, one can create new volumes using k8s Python SDK directly or use `couler.run_job(manifest)` to create

[2020-09-24 21:08] Seanny123 commented on #62
Turns out this question originates from a misunderstanding. The code provided _does not_ create a new volume. The new volume is actually specified as part of the manifest section of the Argo workflow:
[code]

Those components of the workflow are creating the directories, but that's possible to do with `couler.run_script()`.  What's uniquely being defined in the Argo workflow is that these scripts

[2020-09-24 21:34] #62 closed

[2020-09-25 14:26] terrytangyuan commented on #57
Actually the resources in APIs like `couler.run_container()` are specified as a dictionary instead of a string currently. For pre-defined Couler steps, should we be consistent? A string that represents the resources does not seem necessary since we are not building a CLI here and Python dictionary would be more intuitive to users. What do you think? @merlintang @ywskycn

[2020-09-25 17:36] terrytangyuan commented on #62
@Seanny123 Good to know. Feel free to re-open when you come across a use case where the existing APIs are not sufficient.

[2020-09-27 15:37] #30 closed

[2020-09-28 18:31] xinbinhuang opened #67 "Integration/implementation of task libraries from other workflow backends"
Other workflow backends (airflow, dagster, prefect) normally come with a set of reusable tasks library (for example: [Prefect Tasks library](https://docs.prefect.io/core/task_library/overview.html#task-library-in-action)).

To extend couler into other workflow backends, it's necessary to consider how to incorporate those libraries.

Things to consider:
- How to standardize interfaces for different

[2020-09-28 18:47] terrytangyuan commented on #67
@xinbinhuang Thanks for opening this issue to bring up some great questions! Indeed that we need to think about standardization across reusable tasks, especially given that we will be extending into multiple backends. Currently we have integrated with a couple of reusable ML steps with Kubeflow in https://github.com/couler-proj/couler/tree/master/couler/steps but they haven't followed any standard

[2020-09-29 18:22] terrytangyuan opened #68 "Move argo-workflows to optional dependency"
Currently `argo-workflows` is part of `requirements.txt` that will be installed as a required package (see `install_requires` field in `setup.py`). We should move it to extra/optional requirements instead.

[2020-10-03 17:43] #31 closed

[2020-10-05 01:25] longquanzheng opened #72 "Support Cadence engine as backend"
Hi Couler team
I come from https://github.com/uber/cadence and and seeing you are working on Couler and it's an awesome project!
Could you also support Cadence as well.

https://eng.uber.com/open-source-orchestration-tool-cadence-overview/
There are already companies using Cadence in production like https://doordash.engineering/2020/08/14/workflows-cadence-event-driven-processing/
https://banzaicl

[2020-10-05 12:27] terrytangyuan commented on #72
Thanks for submitting the issue! We definitely would like to see the support for additional workflow engines. Would anyone in Cadence team or from the community like to submit a proposal on what the implementation looks like that aligns with the current [Couler core APIs](https://github.com/couler-proj/couler/blob/master/docs/couler-api-design.md)?

[2020-10-06 09:59] merlintang commented on #72
Hi @longquanzheng, can you first proposal the core api used for cadence? we can discuss it from there.

[2020-10-06 09:59] merlintang commented on #72
Hi @longquanzheng, can you first proposal the core API used for cadence? we can discuss it from there.

[2020-10-06 09:59] merlintang commented on #72
Hi @longquanzheng, can you first proposal the core API used for cadence? we can discuss it from there.

[2020-10-08 07:23] inohmonton99 opened #77 "Slack invitation link expired"
we are currently testing the sdk to our platform and would be great if we can get in touch for our concerns and clarifications.

[2020-10-08 08:11] terrytangyuan commented on #77
Thanks for letting us know! I’ve updated the link. Could you try again?

[2020-10-08 18:40] #77 closed

[2020-10-12 19:46] inohmonton99 opened #82 "Add `WorkingDir` field when creating containers"

[2020-10-12 19:50] terrytangyuan commented on #82
Per our discussion offline, this is a request to support workingDir at container spec level, e.g. :

[code]

[2020-10-12 21:17] terrytangyuan opened #84 "Upgrade to use environment files for GitHub Actions"
Warning from GitHub Actions:

We need to upgrade to use environment files for GitHub Actions going forward.

[2020-10-13 00:12] #82 closed

[2020-10-14 21:06] terrytangyuan opened #88 "Support node selector for scheduling pods"
An example in Argo Workflows: https://github.com/argoproj/argo/blob/master/examples/node-selector.yaml

cc @inohmonton99

[2020-10-15 19:10] #88 closed

[2020-10-23 16:49] inohmonton99 opened #95 "add support for GitArtifacts"
# Summary

What change needs making?
support to adding input for git artifacts with templates

# Use Cases

When would you use this?
used to pull git sources into argo containers
---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2020-10-26 17:26] #38 closed

[2020-10-27 17:40] terrytangyuan opened #99 "Copyright notices are missing for some Python scripts"
We have good coverage on copyright notices at the top of each files in https://github.com/couler-proj/couler/tree/d34a690/couler/core but many are still missing, for example:

* https://github.com/couler-proj/couler/tree/d34a690/couler/steps
* https://github.com/couler-proj/couler/tree/d34a690/couler/tests

[2020-10-27 17:46] terrytangyuan opened #100 "Missing documentation for some important functions"
We are missing docstrings for some of the functions that users, for example functions in the following locations:

* https://github.com/couler-proj/couler/blob/d34a690/couler/core/run_templates.py
* https://github.com/couler-proj/couler/tree/d34a690/couler/core/syntax

We should add those missing documentation so it's easier for users to look up. Ideally this would prepare us to work on documentat

[2020-10-27 17:53] terrytangyuan opened #101 "Add more examples that cover supported core syntax"
This could be example that uses these supported syntax and APIs:

https://github.com/couler-proj/couler/tree/d34a690/couler/core/syntax

[2020-10-28 07:45] Yancey1989 opened #102 "Unexpected env "NVIDIA_**" in YAML"
After running a simple Couler program, the generated Argo YAML always contains the `NVIDIA_*` envs just like:
[code]

Why these variables and how can I remove the unexpected environment variables in specs?

[2020-10-28 07:50] Yancey1989 opened #103 "The invalid step name: `<stdin>-`"
When I run the Couler program by command
[code]

the generated workflow YAML contains the invalid step name `<stdin>-`:

[code]

Maybe we can use the workflow name as the step name prefix?

[2020-10-28 17:56] ywskycn commented on #102
These two variables are needed to set with empty value to avoid unplanned mounting GPU devices to containers. If the image contains setting these two variables, the container will try to load gpu device even you don't request GPU from the scheduler.

[2020-10-28 18:02] #103 closed

[2020-10-29 13:32] terrytangyuan commented on #102
Closing this for now since this change is no longer necessary for the integration with SQLFlow. This is an issue with docker in general and keeping this around would avoid the unexpected case mentioned above. Feel free to re-open if you ever come across any issues with this.

[2020-11-02 07:59] Yancey1989 opened #108 "workflow failed: " invalid spec: cannot convert int64 to string""
The submitted workflow failed with the following log:

[code]

The workflow YAML needs double quotation marks  on the integer environment variable value, such as the following code snippets, `value: 12300` should be `value: "12300"`

[code]

[2020-11-02 08:40] vincent-pli opened #109 "Do we have already support Tekton as pipeline engine"
Or just on the plan list?  thanks

[2020-11-02 13:14] terrytangyuan commented on #109
It's not yet supported but planned. We do have some [initial design](https://github.com/couler-proj/couler/blob/master/docs/couler-tekton-design.md) and [discussions](https://github.com/couler-proj/couler/issues/44).

[2020-11-04 10:49] vincent-pli commented on #109
thx

[2020-11-04 10:49] #109 closed

[2020-11-09 21:52] terrytangyuan commented on #108
Providing an update here after discussed with @Yancey1989 offline on November 2nd:
* As a workaround, adding escaped quotes around the variable value would resolve the issue: `run_container(env={"SQLFLOW_PARSER_SERVER_PORT": "\'12300\'"})`. Tests in https://github.com/sql-machine-learning/sqlflow/pull/3075 now pass.

The root cause of this issue is that SQLFlow is [using an older version of Argo v

[2020-12-03 03:16] #102 closed

[2020-12-03 05:35] zjjott opened #118 "couler.set_dependencies do not set dependencies correctly"
## Summary
when `set_dependencies` None dep, have no deal with this issue
minimal Reproducible  code：
[code]
What happened/what you expected to happen?
[code]
Before my pr,  deps will be `B` ,but it should be None
## Diagnostics

What is the version of Couler you are using?
master branch

I'll fix it
Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2020-12-07 14:23] #118 closed

[2020-12-23 11:46] callison96 opened #142 "Module imports fail during run - failed install"
## Summary

What happened/what you expected to happen?

Expected
- Run example code and no issues on install.

Actual
- Ran example code after install and got module import errors.

I can see in the setup.py file that this directory couler/proto is meant to be compiled but appears to be failing.

## Diagnostics

What is the version of Couler you are using?

0.1.1rc7

What is the version of the wor

[2020-12-23 18:55] terrytangyuan commented on #142
You'll need to run `python setup.py proto` before running `python setup.py install`. Could you try if this fixes the problem you are encountering?

[2020-12-28 21:56] #142 closed

[2020-12-29 00:56] terrytangyuan commented on #142
@callison96 Could you try again? The problem should be fixed by #146.

[2021-01-04 17:17] callison96 commented on #142
@terrytangyuan Thanks working now, looking forward to testing it out.

[2021-01-13 02:09] reprabhala commented on #99
@terrytangyuan, can I pick this up?

[2021-01-13 02:17] terrytangyuan commented on #99
Yes definitely

[2021-01-13 13:58] reprabhala commented on #99
Thanks @terrytangyuan! Unable to push to the repo to raise a PR right now. Would you be able to help me with this?

[2021-01-13 14:33] terrytangyuan commented on #99
You would need to push to your forked repo and then submit a PR from there: https://docs.github.com/en/free-pro-team@latest/github/getting-started-with-github/fork-a-repo

[2021-01-17 09:48] reprabhala commented on #68
@terrytangyuan can I pick this up?

[2021-01-17 22:04] terrytangyuan commented on #68
Definitely. Currently it's only used for [workflow validation](https://github.com/couler-proj/couler/blob/master/couler/core/workflow_validation_utils.py). We should make it optional and then only validate the workflow when `argo-workflows` is available.

[2021-01-18 01:21] reprabhala commented on #68
Thanks! 👍
Do you have any recommendations on the best way to test this? I was wondering if just verifying the packages installed with "python -m pip install -r requirements.txt" and "python -m pip install -r requirements-dev.txt" separately will suffice?

[2021-01-18 14:09] terrytangyuan commented on #68
That should be sufficient as long as CI passes.

[2021-01-21 18:48] terrytangyuan commented on #68
Close via https://github.com/couler-proj/couler/pull/164

[2021-01-21 18:48] #68 closed

[2021-01-22 22:31] alexec opened #165 "present at Argo Workflows community meeting"
please come and present

we will record

you can share the recording - get more users

[2021-01-24 06:42] #99 closed

[2021-01-24 09:11] reprabhala commented on #32
@terrytangyuan  can I pick this up as well?

[2021-01-24 13:36] merlintang commented on #165
I think Terry would like to present this work.

On Sat, Jan 23, 2021 at 6:31 AM Alex Collins <notifications@github.com>
wrote:

[2021-01-24 16:32] terrytangyuan commented on #32
Sure

[2021-01-24 16:41] terrytangyuan commented on #165
Actually I have presented to Argo community meeting previously. See the link to slides here: https://github.com/couler-proj/couler#community-blogs-and-presentations

If anyone else is interested in presenting, please let us know here or reach out to us directly. cc @couler-proj/couler-team

In the meantime, @alexec mentioned earlier that we could contribute a guest blogpost on Argo Medium. I'll se

[2021-01-24 16:58] alexec commented on #165
I'd love another presentation!

I've quietly posted this: https://blog.argoproj.io/authoring-and-submitting-argo-workflows-using-python-aff9a070d95f

I want us to promote Couler more as the go-to solution for Python with Argo Workflows.

Would you like to take a look at that post and propose changes?

https://github.com/argoproj-labs/argo-client-gen

[2021-01-25 14:15] terrytangyuan commented on #165
Thanks. I'll take a look at the post and comment in the Google Doc you shared earlier.

[2021-01-25 14:25] terrytangyuan commented on #165
BTW, is the Medium link you posted permanent? If so, would you like to add the link to https://github.com/couler-proj/couler#community-blogs-and-presentations?

[2021-01-25 15:28] alexec commented on #165
I think the URL is permanent. We can tweak or change the content.

[2021-02-23 11:58] maroshmka opened #174 "Discussion - use only k8s jobs and cronjobs"
# Summary

Hello guys, didnt find a way to reach you, so opening a discussion here.

First of all, very interesting and ambitious project. I've stumbled upon it when I was thinking about the similar thing and checking argo.

My idea is - do we need any other infra / servers / backends to schedule workflows, except a k8s cluster ?

With your design, unification looks great, but still argo server/co

[2021-02-23 15:13] terrytangyuan commented on #174
Thanks for reaching out. Using Couler with Argo Workflows requires experience with k8s as involves deployment/maintenance of Argo controller. There's a ton of [documentation](https://argoproj.github.io/argo-workflows/) to help you get there. Once that's in place, you should be able to easily submit workflows (either job or cron job) using Couler following the examples.

[2021-02-23 17:27] maroshmka commented on #174
thanks @terrytangyuan !

There is some misunderstandings probably :) My question is why to use argo or any other tool and not just use plain k8s jobs.

Looking at e.g. argo features - https://argoproj.github.io/argo-workflows/examples/ or airflow features, i'm not sure what is the advantage comparing to plain k8s job.

[2021-02-23 18:09] terrytangyuan commented on #174
Argo Workflows is k8s-native, which is extremely powerful when you want to leverage the underlying k8s cluster. Also check out some of the blog posts here that might be useful for quick comparison. https://github.com/argoproj/argo-workflows#community-blogs-and-presentations

[2021-04-09 10:20] peiniliu opened #193 "container volumeMounts can not mount exsist PVC."
## Summary

What happened/what you expected to happen?

We expect the container use the existing volume defined inside the workflow. Such as:
[volumes-existing.yaml](https://github.com/argoproj/argo-workflows/blob/master/examples/volumes-existing.yaml)

example for testing:
[code]

OrderedDict([('apiVersion', 'argoproj.io/v1alpha1'), ('kind', 'Workflow'), ('metadata', {'generateName': 'runpy-'}),

[2021-04-09 12:56] terrytangyuan commented on #193
Thanks for reporting! Your diagnosis sounds correct. We should probably only generate those emptyDir volumes when needed. Would you like to submit a PR to fix it?

[2021-04-09 18:13] #174 closed

[2021-04-22 18:40] maroshmka commented on #174
hey guys,

sorry to reopen this close discussion, but didn't have much time to work on it to show my idea clearer. I've squeezed some time and done this.

Here's example simple, ugly, but almost working, implementation of what i've meant - https://github.com/maroshmka/kubedag

There is ~200 LOC right now and it seems to be working, the core 2 things that should be still solved are:
- execution_dat

[2021-04-25 05:01] flaviuvadan opened #196 "Support script parameters"
The following is a description based on my experience and my understanding of the Couler code for scheduling Argo workflows. Please feel free to correct and misunderstanding on my part. If the following reported issue/enhancement proposal is already on the development radar I hope this will at least provide further support for it or start a discussion around the idea! In addition, thanks for all t

[2021-04-27 03:42] cccdy opened #197 "Need hostPath volume support for development"
# Summary

What change needs making?
hostPath volume support is convient for development and test

# Use Cases

When would you use this?
We need hostPath volume support for test in development environment

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-04-27 13:13] terrytangyuan commented on #197
This would be great to have. Would you like to submit a PR?

[2021-04-27 17:17] terrytangyuan commented on #196
Thanks for the well-written proposal. Would you like to propose a way to distinguish the args? Also cc @rushtehrani who's previously contributed a fix on script template args.

[2021-04-27 18:29] rushtehrani commented on #196
The [change I made](https://github.com/couler-proj/couler/pull/176) excluded artifacts but not arguments. I believe the behavior in `run_container` is the same at the moment.

I thought about using `container_args`/`args` or `args`/`arguments` but that would break backward compatibility and I didn't get a chance to dig deeper into it.

[2021-04-29 04:46] dinever opened #198 "Create a documentation website?"
# Summary

Couler needs more documentation. See #100 and #101

Maybe we should have a website to organize core syntax & examples, hosted under http://couler-proj.github.io? We can use [Material for MkDocs](https://squidfunk.github.io/mkdocs-material/insiders/).

I'm happy to take on this if we think it's a good idea. Thanks!

---

**Message from the maintainers**:

Impacted by this bug? Give it a

[2021-04-29 05:21] merlintang commented on #198
good idea @dinever , please give it a try and send a PR. Thanks for your contribution.

[2021-04-29 09:13] terrytangyuan commented on #198
dba

[2021-04-30 02:31] kodeninja opened #200 "How to specify securityContext"
The k8s cluster I deploy to has a pod security policy, and requires that the Argo workflows have the following, top-level `securityContext`:

[code]

How can I specify that via `couler`? I couldn't find anything in the docs.

[2021-04-30 02:43] merlintang commented on #200
actually, we do not support security context at the right moment, please
send a PR if you are interested.

On Fri, Apr 30, 2021 at 10:31 AM kodeninja ***@***.***> wrote:

[2021-04-30 03:48] kodeninja commented on #200
@merlintang, I imagine this change would go in https://github.com/couler-proj/couler/blob/master/couler/core/templates/workflow.py?

[2021-04-30 03:55] merlintang commented on #200
yes, if this security config go to the workflow level, you can change the
workflow.py.

On Fri, Apr 30, 2021 at 11:48 AM kodeninja ***@***.***> wrote:

[2021-04-30 03:57] kodeninja commented on #200
Right, this applies at the workflow level.

Is this a good PR for reference: #195?

[2021-04-30 04:01] merlintang commented on #200
yes it is.

On Fri, Apr 30, 2021 at 11:58 AM kodeninja ***@***.***> wrote:

[2021-04-30 20:05] #198 closed

[2021-05-02 01:52] #200 closed

[2021-05-17 21:25] knagarajan1984 commented on #193
Hi,
I am facing the same issue too. Any idea when this is planned to be fixed?

[2021-05-18 18:57] terrytangyuan commented on #193
It's work-in-progress in https://github.com/couler-proj/couler/pull/194.

[2021-05-18 20:48] peiniliu commented on #193
Hi,

yes, it is WIP.
if it is urgent, you could temporarily try my branch https://github.com/peiniliu/couler.
installation: pip install git+https://github.com/peiniliu/couler.git

Peini

[2021-05-21 08:36] nooraangelva commented on #193
Thank you for the temporary fix. I have been struggling with this for several days.

Noora

[2021-05-22 17:12] #193 closed

[2021-05-22 17:13] terrytangyuan commented on #193
It’s merged now. Please give it a try. Thanks @peiniliu for the fix!

[2021-05-28 09:14] nooraangelva opened #206 "Dependencies not supporting map()"
## Summary

What happened/what you expected to happen?

I expected Couler to produce something similar to this [yaml code](https://github.com/argoproj/argo-workflows/blob/master/examples/dag-diamond-steps.yaml) with the code [couler code](https://github.com/nooraangelva/ArgoWorkflowsToCouler/blob/main/map_diamond.py)

## Diagnostics

What is the version of Couler you are using?

I downloaded Coule

[2021-05-31 06:33] nooraangelva commented on #206
Hi,

I updated the code [Couler code](https://github.com/nooraangelva/ArgoWorkflowsToCouler/blob/main/map_diamond.py).
It still has the same problem. Would you or anyone have tips on how to write the code. I have only recently started working with Couler so it is still a mystery for me. (Right now I am trying to turn Argo example-workflows to Coulers format.)

Thanks in advance.

[2021-06-09 11:53] orel-konnecto opened #207 "Supplied install script doesn't work under `venv`"
## Summary

I'm working with a PyCharm generated `venv` (3.8.5) and running install scripts supplied here doesn't work. The folder in `site-packages` has no real code in it.

When I run it from a normal terminal, that is Python 3.8.5 sans `venv`, it install an `egg`.
I don't think this is expected behaviour - I was expecting a wheel...

## Diagnostics

Mac BigSur 11.3.1
Latest repository version `

[2021-06-09 11:54] #207 closed

[2021-06-09 12:02] moshewe opened #208 "Install instructions don't work in Pycharm `venv`"
## Summary

I'm working with a PyCharm generated `venv` (3.8.5) and running install scripts supplied here doesn't work. The folder in `site-packages` has no real code in it.

When I run it from a normal terminal, that is Python 3.8.5 sans `venv`, it install an `egg`.
I don't think this is expected behaviour - I was expecting a wheel...

## Diagnostics

Mac BigSur 11.3.1
Latest repository version `

[2021-06-09 12:48] terrytangyuan commented on #208
Have you tried installing other packages too?

[2021-06-09 12:51] moshewe commented on #208
Yes, other packages work.
I've tried cloning the repo and installing using `python setup.py install` and I get the following error:
`error: chardet 4.0.0 is installed but chardet<4.0,>=2.0 is required by {'aiohttp'}`

[2021-06-09 13:05] moshewe commented on #208
Running `pip install git+https://github.com/couler-proj/couler.git` works, I can see the package installed when I run `pip list | grep couler`, but when I look at the `site-packages` I still see the PyPi package...

A simple fix would be to publish the package under SOME name in PyPi, I guess...

[2021-06-09 13:54] moshewe commented on #208
When I start a python interpreter from the `venv`, I can import `couler` properly. This is weird.

[2021-06-09 15:11] terrytangyuan commented on #208
This is probably an issue with `venv` itself and not related to this project. I don't have experience with `venv` so I'd suggest you to seek advice from other sources.

[2021-06-09 15:30] moshewe commented on #208
Putting `git+http://github.com/couler-proj/couler` in `requirements.txt` and running `pip install -r requirement.txt` solved it!

[2021-06-09 16:08] terrytangyuan commented on #208
Good to know. Thanks1

[2021-06-09 16:08] #208 closed

[2021-06-10 06:56] moshewe opened #209 "Support for the `env_from` `Container` property"
# Summary

From what I see in code right now, there's no support for `env_from`. This is part of the valid Argo syntax, so we should support this.

# Use Cases
There are many, though my current use case is reading the environment variables from a secret by reference to it, e.g.
[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most

[2021-06-10 08:56] nooraangelva opened #210 "volumeClaimTemplates accessModes could support other options than just [ "ReadWriteOnce" ]"
# Summary

What change needs making?

![image](https://user-images.githubusercontent.com/78410623/121495491-f1fe6780-c9d9-11eb-89b4-e354aacd1d26.png)

Accesmode and storage could be made by the workflows creator so there wouldn't be just the default options.

# Use Cases

When would you use this?

If I need bigger `storage` or smaller or if I need to use `ReadWriteMany` as `accessMode`.

---

**Me

[2021-06-10 16:37] terrytangyuan commented on #210
Yes this is a valid use case that's currently unsupported. Would you like to submit a PR?

[2021-06-10 16:37] terrytangyuan commented on #209
Yes this is a valid use case that's currently unsupported. Would you like to submit a PR?

[2021-06-10 21:28] moshewe commented on #209
PR created #211

[2021-06-11 12:17] nooraangelva commented on #210
Sure.

[2021-06-12 16:05] moshewe opened #213 "Setting a default `Submitter`"
# Summary

Currently, every time we submit a workflow we call `couler.run(submitter)`. I think that setting a default `submitter` and also exposing a getter/setter for it would make code more readable and is more intuitive, as it's not probable the same process will use multiple `Submitter`s. The original `couler.run(submitter)` will remain.

# Use Cases

When setting up a Python program that laun

[2021-06-12 16:33] terrytangyuan commented on #213
Sounds good. Feel free to submit a PR.

[2021-06-14 14:51] moshewe opened #214 "Passing a `kube_client_config` to `client_configuration` on `Submitter` constructor doesn't save the `client_configuration`"
## Summary

`Submitter` constructor ignores client configuration passed.

## Diagnostics

I was trying to instantiate a `Submitter` to point to a certain URL by passing in a client configuration thusly:
[code]
All attempts to submit a workflow resulted in calls to `localhost`.  Looking into the code, I saw that the `Submitter` constructor created `_custom_object_api_client` and `_core_api_client`

[2021-06-14 14:53] terrytangyuan commented on #214
Thanks for reporting. Would you like to submit a PR to allow passing the configuration to submitter?

[2021-06-14 17:50] moshewe commented on #214
Sure thing.
I've also noticed another thing - `kube_config.py:load_kube_config` doesn't save a configuration as default (to be used also when creating clients as above) when the passed in configuration is not `None`.  Would it be wise for our use case to explicitly set the given configuration as default? I consider this analogous to the assumption as in #213 , that a process is highly unlikely to

[2021-06-16 12:55] moshewe opened #217 "Implement `parallelism` for `template`s"
# Summary

The current implementation does not allow creating templates specifying the `parallelism` field as per the [Argo spec](https://github.com/argoproj/argo-workflows/blob/95ad561aec5ec360448267b09d8d2238c98012e0/examples/parallelism-nested.yaml#L38).

# Use Cases

Many possible use cases, my current one is limiting the amount of parallel nodes running a certain template so as to save resour

[2021-06-17 20:24] Novak478 opened #218 "Create a configuration option to use imagePullSecrets with Couler"
# Summary

Maybe I missed it, but I couldn't seem to find how to configure an image pull secrets within Couler to allow an Argo workflow to pull an image from a private docker repository. I would love to have this as an available configuration option in Couler.

# Use Cases

I would use this feature in most if not all python/couler apps as our dev, staging, and production repositories are in AWS E

[2021-06-17 20:33] moshewe opened #219 "Implement a default workflow name "salt""
# Summary

Automated scripts might submit multiple workflows under the same name. This creates a naming conflict and rejects any workflow but the first. Implementing a "salt" for workflow names, e.g. create a random suffix for workflow names, would make sure the naming clash won't happen/

# Use Cases

Differentiate between different runs of the same workflow by workflow name at the very minimum.

[2021-06-17 21:19] merlintang commented on #219
good point, if you do not mind, we are so welcome your or.

[2021-06-18 01:18] merlintang commented on #218
This is a new feature of Argo. You are welcome to send a Pr @Novak478 :)

[2021-06-18 01:20] #165 closed

[2021-06-19 22:37] moshewe opened #220 "Add support for `withParams` for `Step`s"
# Summary

As far as I understand, we don't support `withParams` right now.

# Use Cases

Plenty, see map/reduce example in Argo docs [here](https://github.com/argoproj/argo-workflows/blob/master/examples/map-reduce.yaml).

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-06-22 20:40] moshewe opened #224 "Separate template definition from `run_x` functions"
# Summary

I was trying to implement a simple map-reduce workflow, e.g. [this](https://github.com/argoproj/argo-workflows/blob/master/examples/map-reduce.yaml).
Digging through the code I've found that currently `couler` copies over step args into template inputs, basically fusing them together and making use of `withParam` as per the linked example impossible.

I suggest separating template creat

[2021-06-23 12:18] moshewe opened #225 "Remove the `args` field from `Container`"
# Summary

According to the [Argo documentation,](https://argoproj.github.io/argo-workflows/fields/#template) `container` doesn't have an `args` field at all. It's used to put input `parameters`, with the `input` field used to put input `artifacts` (pulled in from the `run_container` method). It's counter-intuitive. I think a better solution would be to use the `input` field solely for the purpose

[2021-06-23 14:25] terrytangyuan commented on #225
Would you like to propose changes that are backwards compatible and perhaps add a deprecation warning?

[2021-06-24 11:43] moshewe commented on #225
Deprecating it sounds like a good idea.

[2021-06-24 11:45] moshewe commented on #219
merged in #216

[2021-06-24 11:45] #219 closed

[2021-06-25 10:19] #210 closed

[2021-06-25 20:10] moshewe opened #226 "Support `arguments` field for `Workflow`"
# Summary
Couler currently doesn't support workflow arguments.

# Use Cases
"script-global" data that needs be accessed from many different steps in a workflow.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-06-27 11:44] moshewe commented on #226
Unfortunately, it seems impossible to send workflows with arguments via the kubernetes client that we work with right now. Maybe in the future we will integrate with a REST client.

[2021-06-27 11:44] #226 closed

[2021-06-30 19:59] moshewe commented on #213
merged.

[2021-06-30 19:59] #213 closed

[2021-06-30 19:59] moshewe commented on #209
merged.

[2021-06-30 19:59] #209 closed

[2021-06-30 20:46] moshewe opened #228 "Allow users to create a `steps`/`dag` template"
# Summary

Following the logic behind #224 and #227 , why not `steps`/`dag`?

# Use Cases

Implement a workflow with multiple sequential map-reduce operations.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-06-30 20:47] moshewe commented on #206
merged #215

[2021-06-30 20:48] #206 closed

[2021-07-15 06:03] moshewe opened #229 "Remove all Go related code from codebase"
# Summary

Remove Go/protobuf related code.

# Use Cases

Simplify codebase. Python implementation calls k8s API directly anyways.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-07-15 06:39] moshewe opened #230 "Drop efforts to support more than Argo as a workflow engine"
# Summary

Make a decision.
Code changes are minimal.

# Use Cases

Dissimilarities between workflow engines will make the codebase more complicated, and we are having difficulty getting code contributions as is. Focusing on one engine will give the project more focus and attract more users.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with t

[2021-07-21 14:36] terrytangyuan commented on #230
The other engines are actually not supported yet. There are existing issues to track the progress.

[2021-07-21 14:36] #230 closed

[2021-08-04 10:18] nooraangelva opened #231 "Example for usage of secret"
# Summary

What change needs making?
Example script on how to use created secret successfully.
I have tried myself using the following code from [test](https://github.com/couler-proj/couler/blob/b363f59eaba85f2e8099d24c08934fa93645999c/couler/tests/secret_test.py#L31-L38)
It creates a secret successfully but fails to echo the secrets value.

# Use Cases

When would you use this?
when I need to use

[2021-08-29 21:35] terrytangyuan commented on #34
Workflow templates are not supported yet. At this projects stands currently, you might want to use argo-client-python for a complete Argo spec. However that project is in need of maintainers, see https://github.com/argoproj-labs/argo-client-python/issues/34.

[2021-09-07 14:09] surajnarwade commented on #231
+1 to the issue, it's quite straightforward to use secrets as environment variables but could not find a way to mount the secrets as a volume inside the container.

[2021-09-08 03:30] merlintang commented on #108
close this one.

[2021-09-08 03:30] #108 closed

[2021-09-08 03:31] merlintang commented on #214
fixed and clsoed

[2021-09-08 03:31] #214 closed

[2021-09-14 10:28] lcgash commented on #218
supported.

[2021-09-14 13:40] terrytangyuan commented on #218
Fixed in #238

[2021-09-14 13:40] #218 closed

[2021-10-01 12:52] hcnt opened #241 "Explicit parameter passing between steps"
# Summary
Example:
[code]
Now arguments in consumer template look like this:
[code]
It would be useful if there was a way for setting dependency between steps without implicit parameter passing.

For myself I just added a flag to run_container that just turns off this behavior.

# Use Cases

I have one parent step that generates couple outputs, and I have multiple children steps, and each one of t

[2021-10-03 06:06] moshewe commented on #231
we do that using an external secrets definition file through argo cd

[2021-10-03 06:08] moshewe opened #242 "Revert "home brew" code to Python API"
# Summary

Change custom code to use the official Python API

# Use Cases

It's difficult developing new features and onboarding new developers to the codebase, as the underlying structures don't follow the (well-documented) official Python API.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-10-04 00:27] terrytangyuan commented on #242
What do you mean by "the official Python API"?

[2021-10-04 00:28] terrytangyuan commented on #241
I agree an option to turn off these automatic param name generation might be useful. Would you like to help look into it?

[2021-10-04 06:15] moshewe commented on #242
https://github.com/argoproj-labs/argo-client-python

[2021-10-04 14:05] terrytangyuan commented on #242
https://github.com/argoproj-labs/argo-client-python is unmaintained and you cannot easily support multiple versions of Argo Workflows either. We used it for validation but later removed it because there were some false positives.

[2021-10-06 05:50] moshewe commented on #242
Can we use the OpenAPI specs then? Those are kept up to date... right?

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality10&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality10&>
10/06/21,
08:48:48 AM

On Mon, Oct 4, 2021 at 5:05 PM Yuan Tang ***@***.***> wrote:

[2021-11-02 22:26] d4l3k commented on #43
@terrytangyuan is there any timeline/plans for this? project lists Airflow in the tag line so I was surprised to not see any support for it

[2021-11-02 22:54] terrytangyuan commented on #43
So far it looks like there isn't any interest from the community so I doubt that there is any timeline for this unless a dedicated contributor wants to work on it.

[2021-11-04 19:30] tachyus-ryan commented on #217
@moshewe would [`semaphoreRef`](https://argoproj.github.io/argo-workflows/fields/#fields_3) be a reasonable alternative?

[2021-11-04 19:32] tachyus-ryan commented on #242
@moshewe I think you want https://github.com/argoproj/argo-workflows/tree/master/sdks/python

[2021-11-04 19:33] terrytangyuan commented on #242
Please hold off on using https://github.com/argoproj/argo-workflows/tree/master/sdks/python until it's published to PyPI. There are still additional work to do there.

[2021-11-12 16:36] dmerrick commented on #43
Maybe make that clear in the docs for the project? At my company we picked couler because we thought it supported Airflow, but if it's only argo it feels like https://github.com/argoproj-labs/hera-workflows might be a better choice

[2021-11-12 17:14] merlintang commented on #43
@terrytangyuan  we can discuss the way to implement for supporting couler for airflow recently. @dmerrick , can you propose what is your requirement more clearly?  We start this part once we have a clear requirement.

[2021-11-12 17:35] dmerrick commented on #43
We went with Couler because we thought it supported both Airflow and Argo. I don't have any specific requirements other than a functional `AirflowSubmitter`

[2021-11-12 17:46] merlintang commented on #43
Thanks for your updating. @dmerrick Let us figure a dev plan to support this. I went through the current way to run Airflow over K8s, it is not that easy to use.

[2021-11-13 09:24] misteliy commented on #43
Just wanted to plus one here since my team is leveraging argo but other teams in the company are using airflow. To have a common framework would be really great indeed.

[2021-11-29 21:10] varunm22 opened #246 "Need additional clarification/examples around using set_dependencies+map"
# Summary

I'm confused on how to properly use dependencies. Let's say I have a workflow with 4 groups of steps (A, B, C, D) and each has multiple subtasks that can happen in parallel (A1, A2, ..., B1, B2, ...). Currently, I'm adding all the A steps using couler.map, then adding all the B steps with couler.map, etc. This correctly parallelizes across A1, A2, ..., but none of the B steps start unti

[2021-12-09 19:45] dmerrick opened #248 "feat: make yaml dump configurable"
# Summary

Right now when you use Argo, an empty yaml file gets dumped after every exception (regardless of if it's related to couler/argo or not). At our company we find our logs and stacktraces littered with seemingly-random Argo templates.

For example:
[code]

This unwanted behavior comes from right here: https://github.com/couler-proj/couler/blob/master/couler/argo.py#L283-L285

I propose we

[2021-12-09 20:29] terrytangyuan commented on #248
@merlintang Do you recall if the existing code reference above is something required for a particular use case?

[2021-12-09 20:42] merlintang commented on #248
@terrytangyuan we can remove this part, this is from the error part of yaml generation.

[2021-12-09 20:44] terrytangyuan commented on #248
@dmerrick Feel free to submit a PR for this.

[2021-12-10 22:56] #248 closed

[2021-12-21 00:16] dmerrick commented on #246
I think I can phrase this question more concisely.

We want a job that looks like this:
[code]

Where `A` and `B` are separate sets of commands wrapped in couler.map()

What we get is this:
[code]

[2021-12-21 00:19] dmerrick commented on #246
Is there a way to get this to work in Couler? Do we have to use a DAG?

[2022-01-14 15:46] dmerrick opened #251 "Is Couler dead?"
# Summary

The marketing for couler is great... it convinced my company to use it. Unfortunately it seems like this project is no longer under development. The "multiple backend" feature that is the primary reason to use couler appears to be missing... even though Airflow is mentioned several times in the docs, it's [not supported](https://github.com/couler-proj/couler/issues/43) and there appears

[2022-01-14 16:12] terrytangyuan commented on #251
Thank you for your contributions so far and your thoughts. I've added a note at the top of the README to reflect the status. https://github.com/couler-proj/couler/pull/252

[2022-01-15 12:51] #251 closed

[2022-03-03 14:00] Mastergalen opened #253 "CronWorkflow support?"
# Summary

What change needs making?

Support for submitting CronWorkflows via Couler

# Use Cases

I am currently using Argo CronWorkflows to run nightly or weekly pipelines. I would like to use Couler to help submit new CronWorkflows after making changes to my pipeline. Even better if Couler can help delete my old CronWorkflows.

At the moment I think it's possible for me to generate the workflo

[2022-03-04 01:52] merlintang commented on #253
https://github.com/couler-proj/couler/blob/master/couler/tests/cron_workflow_test.py#L30

yes cronworkflow is supported, please check this example.

[2022-03-04 02:01] sifat007 opened #254 "No insecure option for S3Artifact"
# Summary

Ability to add `insecure:true` field to the S3 artifacts

[code]

# Use Cases

Running local minio without HTTPS

Any recommendation for workarounds?

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2022-03-04 12:48] Mastergalen commented on #253
Ah I missed that, thanks!

[2022-03-04 12:48] #253 closed

[2022-03-08 15:23] #254 closed

[2022-07-07 10:40] Make42 opened #260 "Documentation: Difference to other meta workflow engines"
Couler is a meta workflow engine, but I know of at least [ZenML ](https://zenml.io/home) and [Kedro](https://kedro.readthedocs.io/en/stable/index.html) which are meta workflow engines as well. While the _self-presentation_ of these other two is towards machine learning, it seems to me they are pretty much generally usable for any type of work. What is Couler aiming to do differently than ZenML and

[2022-07-26 06:28] smetal1 opened #261 "Kubernetes API exception 404"
Hi I am trying out one of the example using argo workflow and I am getting k8s api exeception. Please find the logs:

INFO:root:Argo submitter namespace: argo
INFO:root:Found local kubernetes config. Initialized with kube_config.
INFO:root:Checking workflow name/generatedName main-
INFO:root:Submitting workflow to Argo
ERROR:root:Failed to submit workflow
Traceback (most recent call last):
  File

[2022-07-27 03:32] deepyaman commented on #260
Kedro provides a way to organize your logic (and abstract your datasets, environments, etc.), but it doesn't actually provide a way to deploy to workflow engines like Argo, Airflow, KFP, etc. that run a series of containerized workloads. There are deployment guides and plugins to these, but Kedro could actually integrate with Couler to help deploy Kedro pipelines to various workflow engines (so as

[2022-07-27 09:39] Make42 commented on #260
@deepyaman: How about ZenML, which seems to be much closer to Couler in that case? My impression is that ZenML is a bit more machine learning oriented and Couler might be more general-purpose, but fundamentally, they seem pretty similar.

When should I use Couler? Currently, it only supports Argo, so the "being meta" is currently not the case. In contrast, ZenML has already many services to which

[2022-07-27 14:15] deepyaman commented on #260
I _think_ ZenML is much more opinionated about how your workflow gets executed (e.g. you can't directly parametrize the underlying `ContainerOp`s), so it's more about getting your ML workflow to run on a backend as opposed to being able to orchestrate stuff on any backend. That being said, I have superficial knowledge of both ZenML and Couler, and this is based on a cursory read through both codeb